.password-reset {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-height: 620px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow:
      rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px,
      rgba(17, 17, 26, 0.1) 0px 16px 56px;
    .card-main {
      display: flex;
      // flex: 1;
      .card-image {
        // flex: 0 0 40%;
        width: 100%;
        max-width: 40%;
        @include mobile-lg{
          display: none;
        }

        .image {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 60px 56px;
        @include mobile-lg{
          padding: 10px 10px;
        }
        @include tab-sm{
          padding: 50px 20px;
        }
        .card-title {
          font-size: 34px;
          font-weight: 600;
          color: $black-004;
        }
        .form {
          margin-top: 25px;
          display: flex;
          flex-direction: column;
          gap: 25px;
          max-width: 480px;
          .input {
            display: flex;
            gap: 55px;
          }
        }
      }
    }
  }
}
.form-actions {
  display: flex;
  gap: 15px;
}
.notification {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 16px 20px;
  text-align: center;
}
.captcha {
  max-width: 360px;
}

.reset-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tab {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .radio-text {
    font-size: 14px;
    font-weight: 600;
    color: $black-003;
  }
  .radios {
    gap: 10px;
    .radio {
      .radio-label {
        color: $black-003;
        font-weight: 550;
      }
    }
  }
}