$primary: #2d004d;
$text: #222;
$text-light: #8d91a9;
.pricing-card {
  &-header {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
  }
  &-title {
    font-size: 28px;
    font-weight: 600;
    color: $black-color;
  }
  &-subtitle {
    font-size: 18px;
    color: $text-light;
    font-weight: 500;
  }
  &-price {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &-amount {
    font-size: 32px;
    font-weight: 600;
    color: $black-color;
  }
  &-duration {
    font-size: 16px;
    color: $text-light;
  }
  &-features {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .pricing-card-feature {
      display: flex;
      align-items: center;
      gap: 16px;
      color: $text-light;
      font-size: 16px;
      &-text{
        font-size: 16px;
      }
    }
    .icon {
      width: 24px;
      height: 24px;
      color: $primary;
    }
  }
}