$primary: #e2f8fe;
$aqua: #e1f9fe;
$peach: #ffe7df;
$blue: #dcfafb;
.product-card {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 28px 24px;
  transition:
    transform 0.35s ease,
    box-shadow 0.35s ease;
  &-left {
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition:
      width 0.35s ease,
      opacity 0.5s ease;
  }
  &-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .product-image {
      width: 100%;
      .image {
        width: 100%;
        display: block;
        transition: transform 0.35s ease;
        object-fit: cover;
        object-position: center;
      }
    }
    .product-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
      .product-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .product-prices {
        display: flex;
        flex-direction: column;
        .price-original {
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          color: #f198a2;
        }
        .price-discounted {
          font-size: 20px;
          text-align: center;
          font-weight: 700;
        }
      }
    }
  }
  .heart-icon,
  .cart-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
.product-card:hover {
  padding: 0;
  align-items: stretch;
  overflow: hidden;
  gap: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 9px 9px 20px 0px;
  .product-card-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    opacity: 1;
    background: $black-color;
  }
  .product-card-right {
    width: 80%;
    padding: 0;
    .product-details {
      padding: 28px 28px 28px 32px;
    }
  }
  .product-tag {
    color: #ffffffe6;
    font-size: 16px;
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
    white-space: nowrap;
    transition: transform 0.35s ease;
  }
  .product-image {
    .image {
      transform: rotate(30deg);
    }
  }
}
.product-card:nth-child(4n + 1) {
  background: $primary;
}
.product-card:nth-child(4n + 2) {
  background: $aqua;
}
.product-card:nth-child(4n + 3) {
  background: $peach;
}
.product-card:nth-child(4n) {
  background: $blue;
}