.age_calculator-section {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.age_calculator {
	background: linear-gradient(0.25turn, #a9daef, #d8efc5, #ebba85);
	padding: 30px;
	border-radius: 10px;
	width: 100%;
	max-width: 600px;
	box-shadow: 5px 15px 30px rgba(128,128,128,0.384);
}
.birth-date-input {
	text-align: center;
	font-size: 26px;
	margin: 0 10px;
	font-weight: 700;
}

.dates {
	font-size: 20px;
	margin: 30px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 500;
}


.dates-input-li {
	list-style: none;
	padding: 6px 0;
}

h1 {
	font-size: 40px;
	margin: 10px;
}

.btns-input {
	width: 100%;
	margin: auto;
	outline: none;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.btn {
	padding: 10px;
	font-size: medium;
	font-weight: bold;
	background: white;
	border: none;
	margin: 0 10px;
	border-radius: 18px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.btn:hover {
	background: #f0f0f0;
}

input[type=date] {
	padding: 6px;
	font-size: 18px;
	border-radius: 18px;
	border: none;
}
