<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Kayenat Parveen" />
    <meta name="keywords" content="UI Components, HTML, CSS, JavaScript" />
    <meta name="description" content="A collection of reusable UI components."/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Button-1</title>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css"/>
  </head>
  <body style="padding: 2rem">
    <p class="sub-title" style="max-width: 623px;">Lorem ipsum dolor sit amet, consectetar adipiscing elit,seed do eiusmod tempor incididunt ut</p>
  </body>
</html>
