<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Kayenat Parveen" />
    <meta name="keywords" content="UI Components, HTML, CSS, JavaScript" />
    <meta name="description" content="A collection of reusable UI components."/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hero-description</title>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css"/>
  </head>
  <body style="padding: 2rem">
    <h1 class="title">One and only Construction</h1>
  </body>
</html>
