<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Kayenat Parveen" />
    <meta name="keywords" content="UI Components, HTML, CSS, JavaScript" />
    <meta name="description" content="A collection of reusable UI components."/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Construction Card</title>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css"/>
  </head>
  <body style="padding: 2rem">
    <div class="construction-card" style="max-width: 454px;">
      <div class="yellow-patch"></div>
        <div class="content">
          <h3 class="content-title">100+ Construction</h3>
          <p class="content-description">We are proud to say that we have built more than 100 large construction</p>
        </div>
    </div>
  </body>
</html>
