<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/styles.css" />
</head>
<body>
    <div class="login-form is-white">
        <div class="login-card">
            <div class="login-card-image">
                <img src="../../assets/img/laptop.jpg" alt="Contact Image">
            </div>
            <div class="login-card-content ">
                <form class="login-contact-form">
                    <div class="login-form-grid">
                        <div class="login-form-group">
                            <label for="name" class="login-form-label">Name</label>
                            <input type="text" id="name" class="login-form-input" placeholder="Your full name">
                        </div>
                        <div class="login-form-group">
                            <label for="phone" class="login-form-label">Phone</label>
                            <input type="tel" id="phone" class="login-form-input" placeholder="e.g 9000001101">
                        </div>
                        <div class="login-form-group">
                            <label for="email" class="login-form-label">Email</label>
                            <input type="email" id="email" class="login-form-input" placeholder="e.g. you@somesite.com">
                        </div>
                    </div>
                    <button type="submit" class="login-submit-btn">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>