<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>notification</title>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css" />
</head>
<body>
    <div class="notification is-success">
        If the Login ID entered was valid, a link to reset your password has been sent to your registered Email ID.
    </div>
    <div class="notification is-danger">
        Invalid Login ID.
    </div>
</body>
</html>