<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="author" content="Kayenat Parveen" />
  <meta name="keywords" content="UI Components, HTML, CSS, JavaScript" />
  <meta name="description" content="A collection of reusable UI components." />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pricing Card Addon</title>
  <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css" />
</head>
<body style="padding: 10px">
  <div class="pricing-card-addons" style="max-width: 412px">
    <h4 class="pricing-card-addons-title">Add ons</h4>
    <div class="pricing-card-addons-item">
      <div class="pricing-card-addons-header">
        <div class="pricing-card-addons-content">
          <div class="pricing-card-addons-label">
            <div class="pricing-card-addons-label-text">
              Additional user (100 USD/unit)
            </div>
            <div class="info-icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                <path
                  d="M12 19C12.8284 19 13.5 19.6716 13.5 20.5C13.5 21.3284 12.8284 22 12 22C11.1716 22 10.5 21.3284 10.5 20.5C10.5 19.6716 11.1716 19 12 19ZM12 2C15.3137 2 18 4.68629 18 8C18 10.1646 17.2474 11.2907 15.3259 12.9231C13.3986 14.5604 13 15.2969 13 17H11C11 14.526 11.787 13.3052 14.031 11.3989C15.5479 10.1102 16 9.43374 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8V9H6V8C6 4.68629 8.68629 2 12 2Z">
                </path>
              </svg>
            </div>
          </div>
          <input type="range" class="pricing-card-addons-slider" min="0" max="50" value="32" />
        </div>
        <input type="text" class="pricing-card-addons-count" value="32" readonly />
      </div>
    </div>
    <div class="pricing-card-addons-item toggle">
      <div class="pricing-card-addons-label">
        <div class="pricing-card-addons-label-text">
          Salesforce agent (50 USD)
        </div>

        <div class="info-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M12 19C12.8284 19 13.5 19.6716 13.5 20.5C13.5 21.3284 12.8284 22 12 22C11.1716 22 10.5 21.3284 10.5 20.5C10.5 19.6716 11.1716 19 12 19ZM12 2C15.3137 2 18 4.68629 18 8C18 10.1646 17.2474 11.2907 15.3259 12.9231C13.3986 14.5604 13 15.2969 13 17H11C11 14.526 11.787 13.3052 14.031 11.3989C15.5479 10.1102 16 9.43374 16 8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8V9H6V8C6 4.68629 8.68629 2 12 2Z">
            </path>
          </svg>
        </div>
      </div>
      <label class="switch">
        <input type="checkbox" checked />

        <div class="switch-slider">
          <div class="switch-thumb"></div>
        </div>
      </label>
    </div>
  </div>
  <script>
    const sliders = document.querySelectorAll(".pricing-card-addons-slider");
    sliders.forEach((slider) => {
      const count = slider
        .closest(".pricing-card-addons-header")
        .querySelector(".pricing-card-addons-count");
      function updateSlider() {
        const value = Number(slider.value);
        const max = Number(slider.max);
        const percentage = (value / max) * 100;
        slider.style.background = `
            linear-gradient(
                to right,
                rgb(152, 226, 203) 0%,
                rgb(41, 164, 122) ${percentage}%,
                rgb(255, 255, 255) ${percentage}%,
                rgb(232, 232, 239) 100%
            )
        `;
        count.value = value;
      }
      slider.addEventListener("input", updateSlider);
      updateSlider();
    });
  </script>
</body>
</html>