<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="author" content="Kayenat Parveen" />
    <meta name="keywords" content="UI Components, HTML, CSS, JavaScript" />
    <meta name="description" content="A collection of reusable UI components." />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Product Card Heading</title>
    <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css" />
</head>

<body style="padding: 20px;">
    <div class="section-title">
        <h2>SHOP</h2>
        <span class="line"></span>
    </div>
</body>

</html>