<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>radio buttons</title>
  <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css" />
</head>
<body>
    <div class="radio-group">
  <label class="radio">
    <input
      type="radio"
      class="radio-input"
      name="reset-option"
      checked
    >
    <span>Email</span>
  </label>

  <label class="radio">
    <input
      type="radio"
      class="radio-input"
      name="reset-option"
    >
    <span>Mobile OTP</span>
  </label>
</div>
</body>
</html>