<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>radio buttons</title>
  <link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css" />
</head>
<body>
  <div class="radios">
  <label class="radio">
    <input
      type="radio"
      class="radio-input"
      name="reset-option"
      value="email"
      checked
    >
    <span class="radio-button"></span>
    <span class="radio-label">Email</span>
  </label>

  <label class="radio">
    <input
      type="radio"
      class="radio-input"
      name="reset-option"
      value="mobile"
    >
    <span class="radio-button"></span>
    <span class="radio-label">Mobile OTP</span>
  </label>
</div>
</body>
</html>