<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="author" content="Kayenat Parveen" />
	<meta name="keywords" content="UI Components, HTML, CSS, JavaScript" />
	<meta name="description" content="A collection of reusable UI components." />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Ui Components</title>
	<link rel="stylesheet" type="text/css" href="../../../assets/css/styles.css" />
</head>
<body>
	<!-- construction card  -->
	<div class="construction-card" style="max-width: 454px;">
		<div class="yellow-patch"></div>
		<div class="content">
			<h3 class="content-title">100+ Construction</h3>
			<p class="content-description">We are proud to say that we have built more than 100 large construction</p>
		</div>
	</div>
	<!-- button  -->
	<button class="button-hero has-shadow is-fullrounded">Hero-1</button>
	<button class="button is-orange is-fullrounded is-outlined">Hero-2</button>
	<!-- title  -->
	<h1 class="title">One and only Construction</h1>
	<!-- sub title  -->
	<p class="sub-title" style="max-width: 623px;">Lorem ipsum dolor sit amet, consectetar adipiscing elit,seed do eiusmod
		tempor incididunt ut</p>
	<!-- navbar  -->
	<nav class="navbar has-three-columns">
		<div class="navbar-wrapper">
			<div class="navbar-left">
				<div class="navbar-content">
					<div class="navbar-brand">
						<img src="../../../assets/img/logo.png" alt="Framework logo">
					</div>
					<div class="navbar-toggler" id="navMenuToggler" role="button">
						<svg id="hamburgerNavbarIcon" class="navbar-toggler-icon" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24" width="24" height="24">
							<path d="M3 4H21V6H3V4ZM9 11H21V13H9V11ZM3 18H21V20H3V18Z"></path>
						</svg>
						<svg id="closeNavbarIcon" class="navbar-toggler-icon hidden" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24" width="24" height="24">
							<path
								d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z">
							</path>
						</svg>
					</div>
				</div>
			</div>
			<div class="navbar-center" id="navMenu">
				<div class="navbar-content">
					<ul class="navbar-menu">
						<li class="navbar-menu-item">
							<a href="#" class="navbar-menu-item-link">HOME</a>
						</li>
						<li class="navbar-menu-item has-dropdown" onclick="addMegaMenu()">
							<a href="#" class="navbar-menu-item-link">MEN</a>
							<nav class="navsubmenu dropdown">
								<div class="navsubmenu-content">
									<div class="container">
										<div class="navsubmenu-wrapper">
											<div class="navsubmenu-wrapper-close-btn" onclick="closeMegaMenu(event)">
												<svg class="navsubmenu-wrapper-close-btn-icon" xmlns="http://www.w3.org/2000/svg"
													viewBox="0 0 24 24" width="24" height="24">
													<path
														d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z">
													</path>
												</svg>
											</div>
											<div class="navsubmenu-menu-wrapper">
												<div class="navsubmenu-menu-column">
													<ul class="navsubmenu-menu">
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link is-heading">Topwear</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Shirt</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">T-Shirt</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Trouser</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Casual</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Formal</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Beach</a>
														</li>
													</ul>
												</div>
												<div class="navsubmenu-menu-column">
													<ul class="navsubmenu-menu">
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link is-heading">Topwear</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Shirt</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">T-Shirt</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Trouser</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Casual</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Formal</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Beach</a>
														</li>
													</ul>
												</div>
												<div class="navsubmenu-menu-column">
													<ul class="navsubmenu-menu">
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link is-heading">Topwear</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Shirt</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">T-Shirt</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Trouser</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Casual</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Formal</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Beach</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="navsubmenu-cover-img">
												<div class="navsubmenu-conver-img-content">
													<figure class="navsubmenu-cover-img-head">
														<img class="navsubmenu-img" src="../../assets/img/fashion-1.jpg">
														<figcaption class="navsubmenu-cover-img-text">
															<div class="navsubmenu-cover-img-title">MEN</div>
															<div class="navsubmenu-cover-img-subtitle">COLLECTION</div>
														</figcaption>
													</figure>
												</div>
											</div>
										</div>
									</div>
								</div>
							</nav>
						</li>
						<li class="navbar-menu-item has-dropdown" onclick="addMegaMenu()">
							<a href="#" class="navbar-menu-item-link">WOMEN</a>
							<nav class="navsubmenu dropdown">
								<div class="navsubmenu-content">
									<div class="container">
										<div class="navsubmenu-wrapper">
											<div class="navsubmenu-wrapper-close-btn" onclick="closeMegaMenu(event)">
												<svg class="navsubmenu-wrapper-close-btn-icon" xmlns="http://www.w3.org/2000/svg"
													viewBox="0 0 24 24" width="24" height="24">
													<path
														d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z">
													</path>
												</svg>
											</div>
											<div class="navsubmenu-menu-wrapper">
												<div class="navsubmenu-menu-column">
													<ul class="navsubmenu-menu">
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link is-heading">Topwear</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Shirt</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">T-Shirt</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Trouser</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Casual</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Formal</a>
														</li>
														<li class="navsubmenu-menu-item">
															<a href="#" class="navsubmenu-menu-item-link">Beach</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="navsubmenu-cover-img">
												<div class="navsubmenu-conver-img-content">
													<figure class="navsubmenu-cover-img-head">
														<img class="navsubmenu-img" src="../../assets/img/fashion-2.jpg">
														<figcaption class="navsubmenu-cover-img-text">
															<div class="navsubmenu-cover-img-title">WOMEN</div>
															<div class="navsubmenu-cover-img-subtitle">COLLECTION</div>
														</figcaption>
													</figure>
												</div>
											</div>
										</div>
									</div>
								</div>
							</nav>
						</li>
					</ul>
				</div>
			</div>
			<div class="navbar-right" id="navMenu">
				<div class="navbar-content">
					<ul class="navbar-menu">
						<li class="navbar-menu-item">
							<a href="#" class="navbar-menu-item-link">REGISTER</a>
						</li>
						<li class="navbar-menu-item">
							<a href="#" class="navbar-menu-item-link">LOGIN</a>
						</li>
						<li class="navbar-menu-item mr-0">
							<a href="#" class="navbar-menu-item-link">
								<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
										<path
											d="M4.00436 6.41686L0.761719 3.17422L2.17593 1.76001L5.41857 5.00265H20.6603C21.2126 5.00265 21.6603 5.45037 21.6603 6.00265C21.6603 6.09997 21.6461 6.19678 21.6182 6.29L19.2182 14.29C19.0913 14.713 18.7019 15.0027 18.2603 15.0027H6.00436V17.0027H17.0044V19.0027H5.00436C4.45207 19.0027 4.00436 18.5549 4.00436 18.0027V6.41686ZM6.00436 7.00265V13.0027H17.5163L19.3163 7.00265H6.00436ZM5.50436 23.0027C4.67593 23.0027 4.00436 22.3311 4.00436 21.5027C4.00436 20.6742 4.67593 20.0027 5.50436 20.0027C6.33279 20.0027 7.00436 20.6742 7.00436 21.5027C7.00436 22.3311 6.33279 23.0027 5.50436 23.0027ZM17.5044 23.0027C16.6759 23.0027 16.0044 22.3311 16.0044 21.5027C16.0044 20.6742 16.6759 20.0027 17.5044 20.0027C18.3328 20.0027 19.0044 20.6742 19.0044 21.5027C19.0044 22.3311 18.3328 23.0027 17.5044 23.0027Z">
										</path>
									</svg></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
</body>

</html>