.subscription-tabs {
  display: flex;
  gap: 0 0.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background-color: $black-001;
  padding: 0.4em 0.4em;
  width: 100%;
  max-width: 600px;

  @include tab-sm {
    font-size: 14px;
  }
  @include mobile-lg {
    font-size: 12px;
    border-radius: 2px;
  }

  @include mobile {
    font-size: small;
  }

  @include desktop-md {
    width: fit-content;
    gap: 0 0.425rem;
  }

  .subscription-tabs-btn {
    background-color: $white-color;
    padding: 0.3rem 0.7rem;
    border-radius: 50px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-image: linear-gradient(to right, #eb888a, #f19351);
      color: $white-color;
    }
    @include mobile-lg {
      border-radius: 2px;
    }
  }

  .is-active {
    background-image: linear-gradient(to right, #eb888a, #f19351);
    color: $white-color;
  }
}
