.address-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input[type="radio"] {
        display: none;
    }

    .address-card {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem;
        border: 1px solid #eee;
        border-radius: 1.5rem;
        width: 100%;
        max-width: 800px;
        cursor: pointer;

        .filled {
            display: none;
        }

        .unfilled {
            display: block;
        }

        .address-card-left {
            max-width: 500px;

            .card-icon-title {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-bottom: 12px;
                font-size: 1.5rem;
                font-weight: 500;
            }
            .card-phone-number {
                margin-bottom: 12px;
                margin-left: 2.2rem;
                font-weight: 500;
                color: #7771A7;
            }
            .card-address {
                margin-left: 2.2rem;
            }
        }

        .address-card-right {
            display: flex;
            gap: 1rem;
            .plus-icon-image {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                max-width: 40px;
                max-height: 40px;
                padding: 1rem;
                border: 1px solid #eee;
            }
            .delete-icon-image {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                max-width: 40px;
                max-height: 40px;
                padding: 1rem;
                border: 1px solid #eee;
            }
        }
    }

    input[type="radio"]:checked + .address-card {
        .filled {
            display: block;
        }

        .unfilled {
            display: none;
        }
    }
}