$button-padding-x-md: 2rem;
$button-padding-x-lg: 3.25rem;
$button-height-lg: 3rem;

// @TODO Gray color button variables?

$button-primary-bg-color: 				$primary-001;
$button-primary-hover-bg-color: 		$primary-002;
$button-primary-disabled-bg-color: 		$primary-003;

$button-blue-bg-color: 					$blue-005;
$button-blue-hover-bg-color: 			$blue-007;
$button-blue-disabled-bg-color: 		$blue-004;

$button-green-bg-color: 				$green-005;
$button-green-hover-bg-color: 			$green-007;
$button-green-disabled-bg-color: 		$green-004;

$button-red-bg-color: 					$red-005;
$button-red-hover-bg-color: 			$red-007;
$button-red-disabled-bg-color: 			$red-004;

$button-orange-bg-color: 				$orange-005;
$button-orange-hover-bg-color: 			$orange-007;
$button-orange-disabled-bg-color: 		$orange-004;

$button-white-bg-color: 				$white-color;
$button-white-hover-bg-color: 			#F0F0F0;
$button-white-disabled-bg-color: 		$black-006;

.button {
	@include button-reset;
	background-color: $black-001;
	color: $black-003;
	gap: 12px;
	white-space: nowrap;

	&:hover, &:focus {
		background-color: $black-002;
	}

	&:active:not(:disabled), &.is-loading:not(:disabled) {
		position: relative;
		right: 1px;
		top: 1px;
	}	

	&[disabled], .is-disabled {
		background-color: $black-006;
		color: rgba($black-003, .35);
		cursor: not-allowed;
	}

	&.is-outlined {
		border: 1px solid $black-001;
		background-color: transparent;
		&:hover, &:focus {
			background-color: $black-001;
		}
		// @NOTE disalbed state styles is coming from top
		// so no need to specify every styles just need to control bg color.
		&[disabled], &.is-disabled {
			background-color: transparent;
		}
	}

	&-icon {
		width: 24px;
		height: 24px;
		display: flex;
		@include mobile {
			width: 16px;
			height: 16px;
		}
	}

	@include mobile {
		font-size: 14px;
		padding: 16px 20px;
		height: 2.5rem;
		gap: 8px;
	}

	&.is-circular {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding: 0;
		background-color: $white-color;
		border-color: $primary-001;
		border-width: 1.5px;
		.circular-btn-svg {
			width: 14px;
			height: 14px;
		}
		&.is-danger {
			border-color: $red-005;
			.circular-btn-svg {
				color: $red-005;
			}
		}
	}

	&.is-primary {
		background-color: $button-primary-bg-color;
		color: $white-color;
		&:hover, &:focus {
			background-color: $button-primary-hover-bg-color;
		}
		&[disabled], &.is-disabled {
			background-color: $button-primary-disabled-bg-color;
			color: rgba($white-color, .35);
		}
		&.is-outlined {
			border: 2px solid rgba($button-primary-bg-color, .5);
			background-color: transparent;
			color: $button-primary-bg-color;
			&:hover, &:focus {
				background-color: $button-primary-bg-color;
				color: $white-color;
			}
			&[disabled], &.is-disabled {
				border: 2px solid $button-primary-disabled-bg-color;
				background-color: inherit;
				color: rgba($button-primary-disabled-bg-color, .35);
			}
			&.is-loading {
				background-color: transparent;
				&::after {
					border: 2px solid $button-primary-bg-color;
				}
			}
		}
	}

	&.hero-button {
		background-color: transparent;
		border: 1px solid $white-color;
		box-shadow: $white-color 3px 1px 0 0;
		color: $white-color;
		transition: all .12s ease;
		&:hover, &:focus {
			background-color: transparent;
			transform: translate(-1px, -1px);
			box-shadow: $white-color 4px 2px 0 0;
		}
		&:active {
			transform: translate(2px, 2px) scale(.98);
			box-shadow: $white-color 1px 1px 0 0;
		}

		&[disabled],&.is-disabled {
			background-color: rgba($white-color, .70);
			color: rgba($black-color, .35);
		}
	}

	&.hero-button.is-primary {
		position: relative;
		background-color: transparent;
		border: 1px solid $primary-001;
		box-shadow: $primary-001 3px 1px 0 0;
		color: $primary-001;
		transition: all .12s ease;
		&:hover, &:focus {
			background-color: transparent;
			transform: translate(-1px, -1px);
			box-shadow: $primary-001 4px 2px 0 0;
		}
		&:active {
			transform: translate(2px, 2px) scale(.98);
			box-shadow: $primary-001 1px 1px 0 0;
		}

		&[disabled],&.is-disabled {
			background-color: rgba($primary-001, .70);
			color: rgba($white-color, .35);
		}
	}

	&.hero-button.is-black {
		position: relative;
		background-color: transparent;
		border: 1px solid $black-color;
		box-shadow: $black-color 3px 1px 0 0;
		color: $black-color;
		transition: all .12s ease;
		&:hover, &:focus {
			background-color: transparent;
			transform: translate(-1px, -1px);
			box-shadow: $black-color 4px 2px 0 0;
		}
		&:active {
			transform: translate(2px, 2px) scale(.98);
			box-shadow: $black-color 1px 1px 0 0;
		}

		&[disabled],&.is-disabled {
			background-color: rgba($black-color, .70);
			color: rgba($white-color, .35);
		}
	}

	&.hero-button.is-primary2 {
		position: relative;
		background-color: $white-color;
		border: 1px solid $white-color;
		box-shadow: #DEACE1 3px 2px 0 0;
		color: $primary-001;
		transition: all .12s ease;
		&:hover, &:focus {
			background-color: rgba($white-color, .9);
			box-shadow: #DEACE1 4px 3px 0 0;
		}
		&:active {
			transform: translate(2px, 2px) scale(.98);
			box-shadow: #DEACE1 1px 1px 0 0;
		}
		&[disabled],&.is-disabled {
			background-color: rgba(#DEACE1, .70);
			color: rgba($white-color, .35);
		}
	}

	&.hero-button.is-circular {
		width: 56px;
		height: 56px;
		border-radius: 50%;
		position: relative;
		background-color: $white-color;
		border: 1px solid $primary-001;
		box-shadow: $primary-001 3px 2px 0 0;
		color: $primary-001;
		padding: 0;
		transition: all .12s ease;
		&:hover, &:focus {
			background-color: rgba($white-color, .9);
		}
		&:active {
			box-shadow: $primary-001 1px 1px 0 0;
		}
		&[disabled],&.is-disabled {
			background-color: rgba($primary-001, .70);
			color: rgba($white-color, .35);
		}
		.circular-btn-svg {
			width: 16px;
			height: 16px;
			display: flex;
		}
		@include mobile {
			width: 38px;
			height: 38px;
			.close-icon {
				width: 12px;
				height: 12px;
			}
		}
	}

	&.is-blue {
		background-color: $button-blue-bg-color;
		color: $white-color;
		&:hover, &:focus {
			background-color: $button-blue-hover-bg-color;
		}
		&[disabled], &.is-disabled {
			background-color: $button-blue-disabled-bg-color;
			color: rgba($white-color, .35);
		}
		&.is-outlined {
			border: 2px solid $button-blue-bg-color;
			background-color: transparent;
			color: $button-blue-bg-color;
			&:hover, &:focus {
				background-color: $button-blue-bg-color;
				color: $white-color;
			}
			&[disabled], &.is-disabled {
				border: 2px solid $button-blue-disabled-bg-color;
				background-color: inherit;
				color: rgba($button-blue-disabled-bg-color, .35);
			}
			&.is-loading {
				background-color: transparent;
				&::after {
					border: 2px solid $button-blue-bg-color;
				}
			}
		}
	}
	&.is-green {
		background-color: $button-green-bg-color;
		color: $white-color;
		&:hover, &:focus {
			background-color: $button-green-hover-bg-color;
		}
		&[disabled], &.is-disabled {
			background-color: $button-green-disabled-bg-color;
			color: rgba($white-color, .35);
		}
		&.is-outlined {
			border: 2px solid $button-green-bg-color;
			background-color: transparent;
			color: $button-green-bg-color;
			&:hover, &:focus {
				background-color: $button-green-bg-color;
				color: $white-color;
			}
			&[disabled], &.is-disabled {
				border: 2px solid $button-green-disabled-bg-color;
				background-color: inherit;
				color: rgba($button-green-disabled-bg-color, .35);
			}
			&.is-loading {
				background-color: transparent;
				&::after {
					border: 2px solid $button-green-bg-color;
				}
			}
		}
	}
	&.is-red {
		background-color: $button-red-bg-color;
		color: $white-color;
		&:hover, &:focus {
			background-color: $button-red-hover-bg-color;
		}
		&[disabled], &.is-disabled {
			background-color: $button-red-disabled-bg-color;
			color: rgba($white-color, .35);
		}
		&.is-outlined {
			border: 2px solid $button-red-bg-color;
			background-color: transparent;
			color: $button-red-bg-color;
			&:hover, &:focus {
				background-color: $button-red-bg-color;
				color: $white-color;
			}
			&[disabled], &.is-disabled {
				border: 2px solid $button-red-disabled-bg-color;
				background-color: inherit;
				color: rgba($button-red-disabled-bg-color, .35);
			}
			&.is-loading {
				background-color: transparent;
				&::after {
					border: 2px solid $button-red-bg-color;
				}
			}
		}
	}
	&.is-orange {
		background-color: $button-orange-bg-color;
		color: $white-color;
		&:hover, &:focus {
			background-color: $button-orange-hover-bg-color;
		}
		&[disabled], &.is-disabled {
			background-color: $button-orange-disabled-bg-color;
			color: rgba($white-color, .35);
		}
		&.is-outlined {
			border: 2px solid $button-orange-bg-color;
			background-color: transparent;
			color: $button-orange-bg-color;
			&:hover, &:focus {
				background-color: $button-orange-bg-color;
				color: $white-color;
			}
			&[disabled], &.is-disabled {
				border: 2px solid $button-orange-disabled-bg-color;
				background-color: inherit;
				color: rgba($button-orange-disabled-bg-color, .35);
			}
			&.is-loading {
				background-color: transparent;
				&::after {
					border: 2px solid $button-orange-bg-color;
				}
			}
		}
	}
	&.is-white {
		background-color: $button-white-bg-color;
		color: $black-005;
		&:hover, &:focus {
			background-color: $button-white-hover-bg-color;
		}
		&[disabled], &.is-disabled {
			background-color: $button-white-disabled-bg-color;
			color: rgba($black-005, .35);
		}
		&.is-outlined {
			border: 2px solid $button-white-bg-color;
			background-color: transparent;
			color: $button-white-bg-color;
			&:hover, &:focus {
				background-color: $button-white-bg-color;
				color: $black-005;
			}
			&[disabled], &.is-disabled {
				border: 2px solid $button-white-disabled-bg-color;
				background-color: inherit;
				color: rgba($button-white-disabled-bg-color, .35);
			}
			&.is-loading {
				background-color: transparent;
				&::after {
					border: 2px solid $button-white-bg-color;
				}
			}
		}
	}

  // Size modifiers
  &.is-md {
  	padding-left: $button-padding-x-md;
  	padding-right: $button-padding-x-md;
  	@include mobile {
  		padding-left: 1.5rem;
  		padding-right: 1.5rem;
  	}
  }
  &.is-lg {
    	height: $button-height-lg;
    	padding-left: $button-padding-x-lg;
    	padding-right: $button-padding-x-lg;
    }

	&.is-fullrounded {
		border-radius: $button-radius * 100;
	}

	&.is-rounded {
		border-radius: $button-radius;
	}

	&.has-icon-left {
		.icon {
			margin-left:0.25rem;
		}
	}

	&.has-icon-right {
		.icon {
			margin-right:0.25rem;
		}
	}

  &.is-loading {
	color: transparent !important;
	pointer-events: none;

	&::after {
		content: "";
		width: $button-size * 0.4;
		height: $button-size * 0.4;
		border: 2px solid $white-color;
		border-right: 2px solid transparent !important;
		border-radius: 100%;
		position: absolute;
		animation: spin 500ms linear infinite;
	}
}
}

.circular-button {
	min-width: 52px;
	height: 52px;
	border-radius: 50%;
	padding: 0;
	background-color: $white-color;
	&:hover {
		background-color: $white-color;
		.arrow-icon {
			transform: translate(3px, -3px);
		}	
	}
	.arrow-icon {
		width: 24px;
		height: 24px;
		transition: all 200ms linear;
	}
	&.is-primary-badge {
		position: relative;
		background-color: transparent;
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			width: 52px;
			height: 52px;
			background-image: url('/assets/img/circle-primary-light.svg');
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
		}
	}
}
.icon-button {
	width: 52px;
	height: 52px;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	position: relative;
	transition: all 200ms linear;
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		width: 50px;
		height: 50px;
		background-image: url('/assets/img/circle-primary-light.svg');
		background-size: cover;
		background-repeat: no-repeat;
		z-index: -1;
	}
	&:hover, &:active, &:focus {
		background-color: transparent;
		transform: translateY(-4px);
	}
	&-svg {
		width: 24px;
		height: 24px;
	}
	@include mobile {
		width: 40px;
		height: 40px;
		&::after {
			width: 40px;
			height: 40px;
		}
		&-svg {
			width: 16px;
			height: 16px;
		}
	}
	&.is-danger {
			color: $red-001;
			&::after {
				background-image: url('/assets/img/circle-red.svg');
			}
		}
	&.is-primary {
		color: $primary-001;
		background-color: $white-color;
		&::after {
			background-image: url('/assets/img/circle-primary.svg');
		}
		&:hover, &:active, &:focus {
			background-color: transparent;
		}
	}
}

.circular-button-2 {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	padding: 0;
	background-color: $white-color;
	&:hover {
		background-color: $white-color;
		.bin-icon {
			transform: translate(3px, -3px);
		}
	}
	.bin-icon {
		width: 32px;
		height: 32px;
		transition: all 200ms linear;
	}
	&.is-primary-badge {
		position: relative;
		background-color: transparent;
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			width: 70px;
			height: 70px;
			background-image: url('/assets/img/circle-primary-light.svg');
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
		}
	}
}