.drawer {
	position: fixed;
	right: -100%;
	top: 0;
	bottom: 0;
	display: none;
	background-color: rgba($black-color, .5);
	transition: all .2s ease-in-out;
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	height: 100vh;
	@include tab-md {
		padding: 20px 8px;
	}
	&.is-open {
		animation: leftDrawerOpen .2s forwards;
		transform-origin: right;
		display: flex;
		z-index: 99999999;
		opacity: 1;
		visibility: visible;
		.drawer-footer {
			left: 0;
		}
	}
	&.is-close {
		animation: leftDrawerClose .3s forwards !important;
		display: flex;
		
		.drawer-left {
			animation: leftDrawerClose .3s forwards;
		}
	}

	&-wrapper {
		display: flex;
		@include tab-md {
			flex-direction: column;
		}
	}

	&-right, &-left {
		@include tab-md {
			width: calc(100vw - 16px);
		}
	}

	&-left {
		width: 40vw;
		background-color: $white-color;
		position: relative;
		padding: 60px;
		@include tab {
			padding: 30px;
		}
		@include tab-md {
			height: 100%;
			border-radius: $radius * 8;
		}
	}

	&-right {
		width: 60vw;
		@include tab-md {
			display: none;
		}
	}

	&-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba($primary-001, .3);
		padding-bottom: 28px;
		.drawer-texts {
			.drawer-title {
				font-size: 60px;
				font-weight: 500;
				color: $primary-001;
				@include desktop {
					font-size: 40px;
				}
				@include tab {
					font-size: 32px;
				}
				@include mobile {
					font-size: 28px;
				}
			}
		}
	}

	&-body {
		padding: 2rem 0;
		height: 100%;
		max-height: calc(100vh - 200px);
		overflow-y: auto;
		@include tab-md {
			max-height: calc(100vh - 170px);
		}
		&-text {
			text-align: center;
			color: $primary-001;
			font-size: 1rem;
			font-weight: 500;
			@include mobile {
				font-size: .875rem;
			}
		}
		.filter-items {
			display: flex;
			flex-direction: column;
			gap: 2rem;
			@include tab {
				gap: 1.5rem;
			}
			.filter-item {
				display: flex;
				flex-direction: column;
				gap: 1.25rem;
				@include tab {
					gap: 1rem;
				}
			}
			.filter-header {
				&-text {
					font-size: 1.25rem;
					font-weight: 500;
					color: $black-color;
					@include tab {
						font-size: 1.25rem;
					}
					@include mobile {
						font-size: 16px;
					}
				}
			}
		}
	}

	&-footer {
		background-color: $banner-bg;
		padding: 30px 60px;
		position: absolute;
		height: 100%;
		left: -100%;
		animation: leftDrawerOpen .3s forwards;
		.footer-header-text {
			font-size: 1rem;
			font-weight: 500;
			color: $primary-001;
			text-align: center;
		}
		.range-boxes {
			.fullrounded-box {
				margin-bottom: 1.25rem;
			}
			.button {
				width: 100%;
			}
		}
		@include tab-md {
			width: 100vw;
			height: auto;
			border-bottom-right-radius: 2rem;
			border-bottom-left-radius: 2rem;
		}
		@include mobile {
			padding: 30px 20px;
		}
	}

	&.has-footer {
		.drawer-body {
			max-height: calc(100vh - 368px);
		}
	} 
	&.is-right {
		.drawer-left {
			right: -100%;
		}
		.drawer-wrapper {
			flex-direction: row-reverse;
		}
		.drawer-footer {
			right: 100%;
			animation: rightDrawerOpen .3s forwards;
		}
		&.is-open {
			animation: none;
			right: 0;
			.drawer-left {
				animation: rightDrawerOpen .3s forwards;
				transform-origin: left;
				right: 0;
			}
			.drawer-footer {
				right: 0;
			}
		}
	}
}

.colors {
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	@include tab {
		gap: 1.5rem;
	}
	@include mobile {
		gap: 1.24rem;
	}
}

.color {
	width: 52px;
	max-width: 52px;
	height: 52px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	background: url('/assets/img/circle-primary.svg') no-repeat center;
	background-size: contain;
	transition: all 300ms ease-in-out;
	.inner-circle {
		width: 24px;
		height: 24px;
		object-fit: contain;
	}
	.color-text {
		opacity: 0;
		max-width: 0;
		transform: translateX(-8px);
		overflow: hidden;
		white-space: nowrap;
		font-size: 1rem;
		font-weight: 500;
		color: $primary-001;
		transition: all 200ms ease-in-out;
	}

	&:hover, &.is-active {
		background: none;
		border: 1.8px solid $primary-001;
		border-radius: 32rem;
		padding: 12px 14px;
		gap: 12px;
		width: auto;
		max-width: 150px;
		.color-text {
			opacity: 1;
			max-width: 80px;
			transform: translateX(0);
		}
	}
}

.range {
	display: flex;
	  flex-direction: column;
	  gap: 14px;
	&-boxes {
		margin-top: 1rem;
		.fullrounded-box {
			margin-bottom: 1rem;
		}
	}
	.range-input-texts {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 12px;
		line-height: 1;
		.cart-range-text {
			font-size: 1rem;
			color: rgba($black-color, .6);
			font-weight: 500;
			margin-bottom: .5rem;
		}
	}
}

.range-text {
	font-size: 1.25rem;
	font-weight: 500;
	color: $black-color;
	@include tab {
		font-size: 1.25rem;
	}
	@include mobile {
		font-size: .875rem;
	}
}

.product-types {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

body.drawer-open {
	overflow: hidden;
}

.drawer-fixed-btn {
	position: absolute;
	top: 12px;
  right: -10px;
  @include tab-md {
  	top: -2px;
	  right: 0px;
  }
	.button.is-circular {
		width: 24px;
	  height: 24px;
		.circular-btn-svg {
			width: 10px;
			height: 10px;
		}
	}
}