.gift-card {
	position: relative;
	border-radius: $radius * 6;
	overflow: hidden;
	.section-title {
		@include tab-sm {
			font-size: 28px;
		}
	}
	&-img {
		width: 100%;
		height: 100%;
		.image {
			width: 100%;
			height: 100%;
			max-height: 650px;
			object-fit: cover;
			object-position: center;
			transition: all 300ms ease-in-out;
			@include mobile {
				max-height: 480px;
			}
		}
	}
	.text-overlay {
		text-align: left;
		padding: 2rem;
		.overlay-text {
			font-size: 2rem;
			line-height: 1.1;
			margin-top: 12px;
			filter: drop-shadow(2px 2px 0 $primary-001);
			@include tab-sm {
				font-size: 1.5rem;
			}
			@include mobile-lg {
				font-size: 1rem;
			}
		}
		@include tab-sm {
			padding: 1rem;
		}
	}
	&:hover {
		.image {
			transform: scale(1.09);
		}
	}

	&.variation-3 {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 600px;
		display: flex;
		justify-content: center;
		align-items: end;
		border: 1px solid rgba($white-color, .08);
		border-radius: 1.5rem;
		overflow: hidden;
		background: linear-gradient( to bottom, rgba($black-color, 0) 0%, rgba($black-color, 0.08) 30%, rgba($black-color, 0.22) 55%, rgba($black-color, 0.45) 78%, rgba($black-color, 0.65) 100%);
		border: 0;
		@include tab-sm {
			min-height: 320px;
		}
		&::before {
			content: "";
			position: absolute;
			inset: 0;
			background: url('/assets/img/bunny-3.png');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: transform 300ms ease-in-out;
			z-index: -1;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 50%;
			backdrop-filter: blur(18px);
			background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0.47) 40%, rgba(0, 0, 0, 0.67) 65%, rgb(0, 0, 0) 85%, rgba(0, 0, 0, 0) 100%);
			mask-image: linear-gradient(to top, #000000c7 0%, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0) 100%);
			pointer-events: none;
			z-index: 1;
		}

		.gift-card-texts {
			position: relative;
			z-index: 2;
			padding: 0 1.5rem 2rem;
			text-align: center;
			line-height: 1;
			color: $white-color;
			.hero-title {
				margin-bottom: 14px;

				@include mobile {
					font-size: 32px;
				}
			}

			.gift-card-text {
				font-weight: 500;
				font-size: 16px;
				margin-top: 16px;
				@include tab-sm {
					font-size: 14px;
				}
			}
		}

		.video-player {
			position: absolute;
			top: 40px;
			right: 0;
			max-height: 80px;
		}

		&:hover {
			&::before {
				transform: scale(1.12);
			}
		}
	}

	&.variation-2 {
		width: 100%;
		position: relative;
		&:hover {
			.text-overlay {
				bottom: -100px;
				height: 0;
				z-index: -1;
				transition: all .3s ease;
			}
			.text-overlay.variation-2 {
				height: 80px;
				z-index: 3;
				transition: all .3s ease;
				bottom: 0 !important;
			}
			.gift-card-overlay {
				height: 100%;
				z-index: 2;
				transition: all .3s ease;
			}
		}
		.text-overlay {
			padding: 16px 32px;
			transition: all .3s ease;
			@include mobile {
				padding: 12px 16px;
			}
			&.variation-2 {
				height: 0;
				z-index: -1;
				transition: all .3s ease;
			}
		}
		.overlay-text {
			font-size: 20px;
			line-height: 1.2;
			margin-top: 0;
			transition: all .3s ease;	
		}
		.gift-card-overlay {
			position: absolute;
			top: 0;
			z-index: -1;
			height: 0;
			width: 100%;
			padding: 12px;
			transition: all .3s ease;
			&-wrapper {
				background: url('/assets/img/bunny-transparent-bg.svg') no-repeat center/cover;
				height: calc(100% - 65px);
				border-radius: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}
			&-header {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 20px;
				&-logo {
					width: 100%;
					max-width: 125px;
				}
				.button.hero-button {
					background-color: $white-color !important;
					box-shadow: #DEACE1 3px 3px 0 0;
					color: $primary-001;
					border: 1px solid #DEACE1;
				}
			}
			&-footer {
				display: flex;
				flex-direction: column;
				align-items: center;
				.icon-with-text {
					.text {
						line-height: 1.2;
					}
				}
				gap: 20px;
				&-link {
					color: $white-color;
					font-size: 14px;
					font-weight: 500;
				}
			}
		}
	}
}

.text-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	text-align: center;
	// background: linear-gradient(90deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.35) 100%);
	background: rgba($white-color, .2);
	backdrop-filter: blur(3px);
	border-radius: $radius * 6;
	// box-shadow: 2px 2px 0px 0px rgb(119, 113, 167);
	box-shadow: -1.5px -1.5px 0 $white-color;
	&.variation-2 {
		background: linear-gradient(90deg, $primary-001 0%, $primary-002 100%);
		color: $white-color;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.overlay-text {
			font-size: 14px;
		}
		.overlay-amount {
			font-size: 20px;
			font-weight: 600;
			margin-top: 12px;
		}
	}
}