.tag {
	background-color: $black-004;
	padding: 6px 12px;
	border-radius: 32rem;
	display: inline;
	font-family: "Fredoka", sans-serif;
	color: $white-color;
	@include mobile {
		padding: 5px 10px;
		font-size: 12px;
	}
	&.is-primary {
		background-color: $primary-001;
	}
	&.is-primary-5 {
		background-color: $primary-005;
	}
	&.is-sky {
		background-color: $tag-sky;

	}
	&.is-pink {
		background-color: $tag-pink;

	}
	&.is-yellow {
		background-color: $tag-yellow;

	}
	&.is-blue {
		background-color: $tag-blue;
	}
}