.testimonial {
	width: 100%;
	min-width: 350px;
	border: 1px solid $primary-001;
	border-radius: $radius * 5;
	overflow: hidden;
	background-color: $white-color;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include tab-sm {
		min-width: 280px;
	}
	@include mobile {
		min-width: 240px;
	}
	&:hover {
		.image {
			transform: scale(1.12);
		}
	}

	&-items {
		padding: 10px 20px 20px 20px;
		display: flex;
		flex-direction: column;
		@include mobile {
			padding: 10px;
		}
	}

	&-img {
		width: 100%;
		overflow: hidden;
		height: 300px;
		@include tab-md {
			height: 240px;
		}
		@include mobile {
			height: 180px;
		}

		.image {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
			transition: transform 0.3s ease;
		}
	}

	&-logo {
		.brand-logo {
			width: 5rem;
			@include tab-md {
				width: 4rem;
			}
			@include mobile {
				width: 2rem;
			}
		}
	}

	&-texts {
		padding: 14px 0px;
	}

	&-text {
		max-width: 270px;
		font-family: "Fredoka";
		.paragraph-text {
			font-weight: 500;
			font-size: 1rem;
			max-width: 270px;
			overflow: hidden;
			margin-bottom: 10px;
			margin-top: 14px;
			@include mobile {
				font-size: .75rem;
				padding: 10px 0px;
			}

			&-tag {
				font-size: 14px;
				font-weight: 500;
				color: rgba($black-color, .4);
				cursor: pointer;
				@include mobile {
					font-size: 12px;
				}

			}
		}
	}

	&-name {
		font-weight: 400;
		font-size: 14px;
		color: rgba($black-color, .6);
		font-family: "Poppins";
		margin-top: 10px;

		@include mobile {
			font-size: 12px;
		}
	}
}

.ratings {
	display: flex;
	gap: 6px;
	.rating-star {
		position: relative;
		width: 24px;
		height: 24px;
		cursor: pointer;
		@include mobile {
			height: 16px;
			width: 16px;
		}

		.star-svg {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			transition: all 200ms ease;
		}
		.filled-svg {
			opacity: 0;
		}
		.outline-svg {
			opacity: 1;
		}
		&:hover {
			.filled-svg {
				opacity: 1;
			}
			.outline-svg {
				opacity: 0;
			}
		}
		&:has(~ .rating-star:hover) {
			.filled-svg {
				opacity: 1;
			}
			.outline-svg {
				opacity: 0;
			}
		}
		&.is-rated {
			.filled-svg {
				opacity: 1;
			}

			.outline-svg {
				opacity: 0;
			}
		}
	}
}