.circular-card {
	width: 200px;
	height: 200px;
	background-color: $white-color;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
	@include desktop {
		width: 150px;
		height: 150px;
	}
	@include tab {
		width: 100px;
		height: 100px;
	}
	@include mobile {
		width: 80px;
		height: 80px;
	}
	&-img {
		.image {
			width: 160px;
			height: 160px;
			animation: spin 8s linear infinite;
			@include desktop {
				width: 130px;
				height: 130px;
			}
			@include tab {
				width: 80px;
				height: 80px;
			}
			@include mobile {
				width: 60px;
				height: 60px;
			}
		}
	}
	&-icon {
		background-color: rgba($primary-001, .12);
		border-radius: 50%;
		width: 90px;
		height: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		&-svg {
			width: 65px;
			height: 65px;
		}
		@include tab {
			width: 40px;
			height: 40px;
			&-svg {
				width: 32px;
				height: 32px;
			}
		}
		@include mobile {
			width: 34px;
			height: 34px;
			&-svg {
				width: 20px;
				height: 20px;
			}
		}
	}
}

.fullrounded-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 20px;
	border: 1px solid rgba($primary-001, .5);
	border-radius: 32rem;
	background-color: $white-color;
	color: rgba($black-color, .3);
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.1;
	cursor: pointer;
	@include tab {
		font-size: 1rem;
	}

	.left-text, .right-text {
		color: rgba($black-color, .3);
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.1;
		@include tab {
			font-size: 1rem;
		}
	}

	&.is-primary {
		background-color: $primary-001;
		color: $white-color;
		.left-text, .right-text {
			color: $white-color;
		}
		.left-text {
			font-family: "Anton", sans-serif;
		}
		.right-text {
			font-weight: 600;
		}
	}
}

.input-range[type="range"] {
		appearance: none;
		width: 100%;
		height: 8px;
		background: #d9d4d4;
		border-radius: 999px;
		outline: none;
		cursor: pointer;
		position: relative;

		// purple filled track
		&::-moz-range-progress {
			height: 8px;
			background: $primary-001;
			border-radius: 999px;
		}

		&::-moz-range-track {
			height: 8px;
			background: #d9d4d4;
			border-radius: 999px;
		}

		&::-moz-range-thumb {
			width: 18px;
			height: 18px;
			border-radius: 50%;
			background: $primary-001;
			border: 4px solid #fff;
			cursor: pointer;
		}

		&::-webkit-slider-runnable-track {
			height: 8px;
			background: linear-gradient(to right, $primary-001 0%, $primary-001 var(--progress), #d9d4d4 var(--progress), #d9d4d4 100%);
			border-radius: 999px;
		}

		// thumb
		&::-webkit-slider-thumb {
			appearance: none;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: $primary-001;
			border: 4px solid #fff;
			margin-top: -8px;
		}
	}

	.offer-card {
		display: flex;
		gap: 20px;
		border: 1px solid rgba($black-color, .06);
		border-radius: $radius * 6;
		padding: 1.25rem;
		transition: all 200ms ease-in-out;
		@include mobile {
			padding: .75rem;
		}
		&-img {
			max-width: 158px;
			max-height: 160px;
			padding: 1rem;
			border-radius: $radius * 4;
			.image {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@include tab-sm {
				max-width: 100px;
				max-height: 110px;
			}
		}
		&-texts {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.offer-card-text {
				font-size: 20px;
				font-weight: 400;
				line-height: 1.2;
				color: rgba($black-color, .6);
				@include mobile {
					font-size: 12px;
				}
			}
		}
		&:hover {
			border-color: $primary-001;
		}
	}



// Feature Banner
.feature-banner {
	background: linear-gradient(#FFF9E9, #FFF9E9),
							url('/assets/img/feature-banner-bg.png') no-repeat center/cover;
	width: 100%;
	background-size: cover;
	background-position: center;
	border-radius: 50px;
	@include tab {
		border-radius: 30px;
	}

	@include mobile {
		background: linear-gradient(
			rgba(249, 243, 227, 1),
			rgba(249, 243, 227, 1)
		),
		url('/assets/img/feature-banner-bg.png') no-repeat center/cover;
	}
	&-particle {
		// width: 100%;
		@include desktop-sm {
			max-width: 250px;
		}
		@include tab {
			order: 2;
			width: 150px;
		}
		&-img {
			width: 100%;
			height: 100%;
			min-width: 300px;
			@include tab-md {
				min-width: 200px;
			}
			@include mobile {
				min-width: 150px;
			}
		}
	}
	&-wrapper {
		display: flex;
		align-items: center;
		position: relative;
		@include tab {
			flex-direction: column;
			align-items: inherit;
		}

		@include mobile {
			flex-direction: column;
			align-items: inherit;
		}
		.feature-banner-particle-2 {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
	&-features {
		display: flex;
		gap: 50px;
		padding: 0 32px;
		@include desktop-md {
			flex-direction: column;
			margin: 0 auto;
			.bar.hide {
				display: none;
				@include tab {
					display: block;
				}
			}
			@include tab {
				.bar {
					width: 120px;
					height: 1px;
				}
			}
		}
		@include tab {
			gap: 30px;
		}
		&-group {
			display: flex;
			gap: 50px;
			align-items: center;
			justify-content: space-between;
			@include tab {
				flex-direction: column;
				gap: 30px;
			}

			@include mobile {
				flex-direction: column;
			}
		}
	}
	&-feature {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 12px;
		text-align: center;	
		&-icon {
			width: 60px;
			color: $accent-001;
		}
		&-text {
			font-size: 20px;
			font-weight: 700;
			line-height: 1.2;
			color: $primary-001;
		}
	}
}

.checkout-bundle {
	width: 100%;
	background: linear-gradient(182.38deg, #C7C4E2 -33.32%, $white-color 104.96%);
	padding: 60px 50px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	@include desktop-md {
		padding: 30px 25px;
	}
	@include tab-sm {
		padding: 30px 12px;
	}
	&-wrapper {
		width: 100%;
	}
	&-texts {
		text-align: center;
		&-title {
			font-size: 60px;
			line-height: 1;
			font-family: "Anton", sans-serif;
			margin-bottom: 30px;
			@include tab-sm {
				font-size: 30px;
				margin-bottom: 12px;
			}
		}
		&-discount {
			font-family: "Fredoka", sans-serif;
			font-size: 30px;
			line-height: 1.2;
			margin-top: 16px;
			@include tab-sm {
				font-size: 20px;
				margin-top: 12px;
			}
		}
	}
	.shadow-text {
		font-family: "Fredoka", sans-serif;
		font-weight: 700;
		font-size: 40px;
		line-height: 1.2;
		color: $white-color;
		text-shadow: 2px 0 #7771A7, -2px 0 #7771A7, 0 2px #7771A7, 0 -2px #7771A7, 1px 1px #7771A7, -1px -1px #7771A7, 1px -1px #7771A7, -1px 1px #7771A7;
		filter: drop-shadow(5px 5px 0 #7771A7);
		@include desktop-md {
			font-size: 32px;
		}
		@include tab-sm {
			font-size: 24px;
		}
	}
	&-cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
		margin-top: 90px;
		margin-bottom: 50px;
		place-items: center;
		height: 100%;
		max-height: 424px;
		overflow-y: scroll;
		@include desktop-md {
			grid-template-columns: repeat(2, 1fr);
			margin-top: 30px;
			margin-bottom: 30px;
			gap: 20px;
		}
		@include desktop-sm {
			display: flex;
			overflow-y: inherit;
			overflow-x: scroll;
		}
		@include tab-sm {
			gap: 12px
		}
	}
	&-card {
		width: 100%;
		height: 200px;
		background-color: $white-color;
		border: 2px dashed $primary-001;
		position: relative;
		@include desktop-sm {
			min-width: 250px;
		}
		.button.icon-button.is-danger {
			position: absolute;
			right: 14px;
			top: 14px;
			width: 40px;
			height: 40px;
			@include tab-sm {
				right: 10px;
				top: 10px;
			}
			&::after {
				width: 38px;
				height: 38px;
			}
			.icon-button-svg {
				width: 18px;
				height: 18px;
			}

		}
		&.no-border {
			border: none;
		}
		&-img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		@include tab-sm {
			gap: 16px;
		}
		.button {
			width: 100%;
			font-size: 20px;
			height: 4rem;
			@include tab-sm {
				font-size: 14px;
				height: 42px;
			}
		}
		&-text {
			font-family: "Fredoka", sans-serif;
			font-size: 20px;
			line-height: 1.2;
			@include tab-sm {
				font-size: 14px;
			}
		}
	}
}


.badge {
	width: 24px;
	height: 24px;
	padding: 4px;
	border-radius: 50px;
	position: absolute;
	background-color: red;
	top: -8px;
	right: 0;
	color: $white-color;
	font-size: 12px;
	font-weight: 500;
}

.ribbon {
	display: flex;
	&-img {
		display: flex;
		width: 100%;
		height: 100%;
		position: relative;
		.image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
		.ribbon-img {
			position: absolute;
			object-fit: contain;
			right: -50%;
		}
	}
}

.video-player {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	gap: 14px;
	padding: 14px 20px;
	background: linear-gradient(to right, rgba($white-color, .0) 50%, $primary-001 100%);
	.player-text {
		font-size: 2rem;
		color: $white-color;
		filter: drop-shadow(0 4px 4px  $primary-001);
		line-height: 1.2;
		text-transform: uppercase;
		font-family: "Anton", sans-serif;
		@include tab {
			font-size: 1.5rem;
		}
		@include tab-sm {
			font-size: 1rem;
		}
	}
}

.button.player-button {
	width: 60px;
	min-width: 60px;
	height: 60px;
	border-radius: 50%;
	filter: drop-shadow(0 0 4px rgba($black-color, .25));
	background-color: $white-color;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	.player-button-svg {
		width: 24px;
		height: 24px;
	}
	&:hover, &:focus {
		background-color: $white-color;
	}
	@include tab {
		width: 40px;
		min-width: 40px;
		height: 40px;
	}
}

.slider {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	gap: 8px;

	.slider-bullet {
		width: 8px;
		height: 8px;
		border-radius: 999px;
		background-color: $black-001;
		position: relative;
		transition: opacity 0.2s, width 0.2s;
		&.is-active {
			width: 24px;
			background-color: $primary-001;
			opacity: 1;
			width: 18px;
			border-radius: 4px;
		}
	}
}

.filter-btns {
	display: flex;
	gap: 14px;
	max-width: 350px;
	.button {
		&-icon {
			width: 20px;
			height: 20px;
			pointer-events: none;
		}
	}
	@include mobile {
		&-svg {
			width: 16px;
			height: 16px;
		}
	}
}

.quantity-counter {
	height: 36px;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px;
	background-color: $primary-001;
	border-radius: 32rem;
	@include mobile {
		height: 32px;
	}

	.quantity-btn {
		width: 28px;
		height: 28px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		outline: none;
		background: transparent;
		color: $white-color;
		cursor: pointer;
		border-radius: 50%;
		transition: all 200ms ease;
		&:hover {
			background-color: rgba($white-color, 0.12);
		}
		@include mobile {
			width: 20px;
			height: 20px;
		}
	}
	.quantity-input {
		width: 24px;
		border: 0;
		outline: none;
		background: transparent;
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 1;
		color: $white-color;
	}
}

.delete-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;

	.delete-svg {
		width: 24px;
		height: 24px;
		color: $black-color;
		transition: color 200ms ease-in-out, transform 200ms ease-in-out;
	}

	&:hover {
		.delete-svg {
			color: $red-005;
			transform: scale(1.08);
		}
	}

	&:active {
		.delete-svg {
			transform: scale(.92);
		}
	}
}