<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css"
    rel="stylesheet"
  >

	<link rel="stylesheet" type="text/css" href="../../assets/css/styles.css">
</head>

<body>
	<section class="timeline">
		<div class="timeline-card">

			<div class="timeline-content">
				<div class="timeline-icon">
					 <i class="ri-inbox-unarchive-line"></i>
				</div>

				<h3 class="timeline-title">
					Open source community
				</h3>

				<p class="timeline-description">
					Build in the open and collaborate with other Developers on yours and
					their Extensions. Contribute as you'd like, and help others by building
					on top of existing Extensions.
				</p>
			</div>

			<div class="timeline-events">

				<div class="timeline-event">
					<span class="timeline-dot"></span>
					<div class="timeline-badge">
						Stuart reported a bug
					</div>
				</div>

				<div class="timeline-event">
					<span class="timeline-dot"></span>
					<div class="timeline-badge">
						Imthath reported a bug
					</div>
				</div>

				<div class="timeline-event">
					<span class="timeline-dot"></span>
					<div class="timeline-badge">
						Stuart added a feature request
					</div>
				</div>

				<div class="timeline-event">
					<i class="ri-git-branch-line timeline-branch"></i>
					<div class="timeline-badge">
						Stuart added the Dash extension
					</div>
				</div>

			</div>

		</div>
	</section>
</body>

</html>