$white-color: #ffffff;
$black-color: #000000;

$black-001: #e0dfeb;
$black-002: #d0d0d0;
$black-003: #888888;
$black-004: #555555;
$black-005: #333333;
$black-006: #e6e6e6;

// @NOTE NEW
$black-009: #222222;

// Neutral

// Gray
$gray-001: #f2f2f2;
$gray-002: #f9f9f9;

// Red
$red-001: #dd515a;
$red-002: #ffc6cd;
$red-003: #ff8d9b;
$red-004: #fd6171;
$red-005: #ff3e51;
$red-006: #db1428;
$red-007: #c31123;
$red-008: #a60a1a;
$red-009: #95000f;

// Orange
$orange-001: #fff2e1;
$orange-002: #ffe2bb;
$orange-003: #ffd093;
$orange-004: #ffc06e;
$orange-005: #feaf73;
$orange-006: #ffa735;
$orange-007: #f6a15c;
$orange-008: #b56803;
$orange-009: #7b4600;

// Green
$green-001: #0eca59;
$green-002: #d2f7df;
$green-003: #a8fdc7;
$green-004: #87fbb1;
$green-005: #5cf995;
$green-006: #20e368;
$green-007: #0fb94d;
$green-008: #018e35;
$green-009: #04772e;

// Blue
$blue-001: #eaebff;
$blue-002: #d0d2fb;
$blue-003: #a5a9fb;
$blue-004: #8187f7;
$blue-005: #4049fd;
$blue-006: #313aea;
$blue-007: #232cd2;
$blue-008: #00089f;
$blue-009: #051573;
$blue-010: #0000ff;

// Primary
$primary-001: #7771a7;
$primary-002: #9792be;
$primary-003: #a7a2d5;
$primary-004: #f9f1fa;
$primary-005: #a7aff4;

// Accent
$accent-001: #deace1;
$accent-002: #faffc5;
$accent-003: #f8ffae;
$accent-004: #f5ff86;
$accent-005: #ebfb3e;
$accent-006: #d4e328;
$accent-007: #c1d016;
$accent-008: #919d0e;
$accent-009: #5c6408;

/*
$blue-001:#1133FF;
$blue-002:#0D25AE;
$blue-003:#1133FF;
$blue-004:#506AFF;
$blue-005:#1133FF;
*/

/*
$orange-001:#FF7811;
$orange-002:#FF5E14;
*/

$radius: 0.25rem;

$button-size: 2.5rem;
$button-font-size: 1rem;
$button-hpadding: 1.25rem;
$button-radius: $radius;

$container-width: 1400px;

$hero-title-desktop: 64px;
$hero-title-tab: 48px;
$hero-title-mobile: 32px;

$hero-subtitle-desktop: 20px;
$hero-subtitle-tab: 16px;
$hero-subtitle-mobile: 14px;

$section-title-desktop: 48px;
$section-title-tab: 32px;
$section-title-mobile: 24px;

$section-subtitle-desktop: 16px;
$section-subtitle-tab: 16px;
$section-subtitle-mobile: 14px;

$section-range-title-desktop: 20px;

$item-text-hover-color: #ffffff;

// tag colors
$tag-sky: #98d9e1;
$tag-pink: #e2bbe7;
$tag-yellow: #efd986;
$tag-blue: #95b5ea;

$banner-bg: #fdf8f2;
