<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="author" content="Kayenat Parveen">
<meta name="keywords" content="UI Components, HTML, CSS, JavaScript">
<meta name="description" content="A collection of reusable UI components.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/assets/img/logo.png">
<link rel="stylesheet" href="/assets/css/styles.css">
<title>Hamper Card</title>
</head>
<body style="padding: 4rem;">
	<div class="hamper-card" style="max-width: 350px;">
		<div class="hamper-card-img">
			<img class="hamper-img" src="/assets/img/hamper-img.jpeg" alt="product image">
		</div>
		<div class="hamper-contents">
			<div class="hamper-texts">
				<h1 class="hamper-title">Kuromi Kawaii Lifestyle Gift Hamper...</h1>
				<div class="separator"></div>
				<div class="hamper-prices">
					<p class="hamper-price">Rs. 786.00</p>
					<p class="hamper-price price-old">Rs. 875.00</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>