<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamper Card</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <br><br>
    <div class="hamper-card">
        <div class="hamper-card-img">
            <img class="card-img" src="/assets/img/hamper-img.jpeg" alt="product image">
        </div>
        <div class="card-contents">
            <div class="card-texts">
                <h1 class="card-title">Kuromi Kawaii Lifestyle Gift Hamper...</h1>
                <h2 class="price">Rs. 786.00 <span class="price-was"> Rs. 875.00</span></h2>
            </div>
        </div>
    </div>
</body>
</html>