<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image container</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <!-- // card with overlay and text  -->
    <div class="subscription-card">
      <div class="card-img">
        <div class="card-img-text">
          <h1 class="img-text-title">Welcome</h1>
          <p class="img-text-subtitle">Lorem ipsum dolor sit amet.</p>
        </div>
        <img src="/assets/img/image.png" alt="" class="img-image" />
      </div>
    </div>

    <!-- // gradient color card -->

    <div class="gradient-card subscription-card">
      <div class="gradient-card-content">
        <h1 class="card-content-title">welcome :</h1>
        <p class="card-content-subtitle">
          Lorem ipsum dolor sit amet, consectetur adipisicing.
        </p>
      </div>
    </div>

    <!--  -->

    <div class="subscription-flex-card">
      <div class="flex-card-content gradient-card">
        <div class="card-content-left">
          <img src="/assets/img/image-Photoroom.png" alt="" class="img-image" />
        </div>
        <div class="card-content-right">
          <h1 class="right-content-title">welcome</h1>
          <p class="right-content-subtitle">Lorem ipsum dolor sit.</p>
        </div>
      </div>
    </div>
  </body>
</html>
