<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Box</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="subscription-image-card">
      <img
        class="subscription-image-card-img"
        src="/assets/img/spinn-blend.png"
        alt="Subscription image"
      />
      <div class="subscription-image-card-text">
        <h1 class="subscription-image-card-text-title">
          Spinn Blend <br />
          Subscription
        </h1>
        <p class="subscription-image-card-text-desc">
          Enjoy a curated selection of medium and dark roasts every morning with
          our Spinn Blend Subscription
        </p>
      </div>
    </div>
    <br />
  </body>
</html>
