<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tabs</title>
  <link rel="stylesheet" href="/assets/css/styles.css" />
</head>
<body>
  <div class="subscription-tabs">
    <button class="subscription-tab is-active">
      Spinn Blend Subscription
    </button>
    <button class="subscription-tab">Auto Order</button>
    <button class="subscription-tab">Maintenance Subscription</button>
  </div>
</body>
</html>