<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabs</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <div class="subscription-tabs">
      <button class="subscription-tabs-btn is-active">
        Spinn Blend Subscription
      </button>
      <button class="subscription-tabs-btn">Auto Order</button>
      <button class="subscription-tabs-btn">Maintenance Subscription</button>
    </div>
  </body>
</html>
