<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>tabs</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/../../assets/css/styles.css"
    />
  </head>
  <body style="padding: 2rem">


	<div class="tabs-rounded full-center">
		<!-- // btn class for js .. -->
        <button class="btn btn-rounded is-active">Spinn Blend Subscription</button>
        <button class="btn btn-rounded">Auto Order</button>
        <button class="btn btn-rounded">Maintenance Subscription</button>
      </div>








	<!-- // -->
    <script>
      const btnGroup = document.querySelector(".tabs-rounded");
      btnGroup.addEventListener("click", (e) => {
        // checking  btn class clicked or not
        const clickedBtn = e.target.closest(".btn");
        //if not then return
        if (!clickedBtn) return;

        // searching already active class and then removing
        const currentActiveBtn = btnGroup.querySelector(".is-active");
        if (currentActiveBtn) {
          currentActiveBtn.classList.remove("is-active");
        }
        // next not selected if click then ..
        clickedBtn.classList.add("is-active");
      });
    </script>
  </body>
</html>
