.email-list {
  background: #F8F9FA;
  border: 1px solid #E9EAEC;
  border-radius: 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  padding: 1rem 0;
  &-upper {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #E9EAEC;
    @include tab-sm {
      padding: 1rem;
    }
    .email-title {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 8px;
    }
    .email-subtitle {
      color: #898989;
    }
  }
  &-bottom {
    padding: 1.5rem 2rem;
    @include tab-sm {
      padding: 1rem;
    }
    .emails {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: #fff;
      padding: 1.5rem;
      border: 1px solid #E9EAEC;
      border-radius: 24px;
      @include tab-sm {
        gap: 12px;
      }

      .email-row:not(:last-child) {
        border-bottom: 1px solid #E5E7EB;
      }
      .email-row {
        display: flex;
        width: 100%;
        gap: 1rem;
        &-left {
          .email-icon-img {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            border: 1px solid #E5E7EB;
            border-radius: 50%;
            .email-icon {
              color: #582458;
            }
          }
        }
        &-right {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 1rem;
          padding-bottom: 1rem;
               @include tab-sm {
                  gap: 12px;
              }
          .email-user-header {
            display: flex;
            justify-content: space-between;
            color: #9C9BA6;
          }
          .email-subject {
            font-size: 20px;
            font-weight: 600;
            line-height: 20px;
            letter-spacing: -0.01em;
            @include tab-sm {
              font-size: 1rem;
            }
          }
          .email-text {
            color: #9C9BA6;
            line-height: 30px;
            @include tab-sm {
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}