.doc-section {
	padding-top: 3.5rem;
	@include mobile {
		padding-top: 1.75rem;
	}
	.doc-section-title {
		font-size: 2.5rem;
		line-height: 2.5rem;
		font-weight: 500;
		font-family: "Anton", sans-serif;
		margin: 1rem 0;
	}
	.doc-section-subtitle {
		font-size: 1rem;
		line-height: 1.75rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.description-title {
		font-size: 2.25rem;
		font-weight: 500;
		font-family: "Anton", sans-serif;
		margin: 1rem 0;
	}
	.description-subtitle {
		font-size: 1rem;
		font-weight: 400;
		font-family: "Poppins", sans-serif;
	}
	.mb-2 {
		margin-bottom: 8px;
	}
	.line-height {
		line-height: 1.6;
	}
	.ml-8 {
		margin-left: 2rem;
	}
	.ml-16 {
		margin-left: 4rem;
	}
	.table-title {
		border: 1px solid black;
		width: 50%;
	}
	.table-text {
		padding: .5rem 1rem;
		width: 50%;
		border: 1px solid black;
	}
	.text-blue {
		color: blue;
	}
	.underline {
		text-decoration: underline;
	}
}

.semi-bold {
	font-weight: 600;
}