<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Address</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/styles.css" />
</head>
<body>

	<section class="section" data-myslideup="slidein-1">
		<div class="section-mask">
			<div class="section-container">
				<div class="section-wrapper">
					<div class="address-cards">
						<input type="radio" name="address" id="address1" checked>
						<label for="address1" class="address-card">
							<div class="address-card-left">
								<div class="card-icon-title">
									<img src="/assets/img/tick-square.svg" alt="" class="tick-icon unfilled">
									<img src="/assets/img/tick-square-fill.svg" alt="" class="tick-icon filled">
									<h1 class="card-title">Mr. Jhony Walker (HOME)</h1>
								</div>
								<p class="card-phone-number">Ph: 8904754867</p>
								<p class="card-address">2. NC Road Naya Bazar, Kankinara, 24 PGS North,Bhatpara, Insaque Sardar Masjid Barrackpore</p>
							</div>
							<div class="address-card-right">
								<div class="plus-icon-image">
									<img src="/assets/img/add.svg" alt="" class="plus-icon">
								</div>
								<div class="delete-icon-image">
									<img src="/assets/img/Delete.svg" alt="" class="delete-icon">
								</div>
							</div>
						</label>
						<input type="radio" name="address" id="address2">
						<label for="address2" class="address-card">
							<div class="address-card-left">
								<div class="card-icon-title">
									<img src="/assets/img/tick-square.svg" alt="" class="tick-icon unfilled">
									<img src="/assets/img/tick-square-fill.svg" alt="" class="tick-icon filled">
									<h1 class="card-title">Mr. Jhony Walker (HOME)</h1>
								</div>
								<p class="card-phone-number">Ph: 8904754867</p>
								<p class="card-address">2. NC Road Naya Bazar, Kankinara, 24 PGS North, Bhatpara, Insaque Sardar Masjid Barrackpore</p>
							</div>
							<div class="address-card-right">
								<div class="plus-icon-image">
									<img src="/assets/img/add.svg" alt="" class="plus-icon">
								</div>
								<div class="delete-icon-image">
									<img src="/assets/img/Delete.svg" alt="" class="delete-icon">
								</div>
							</div>
						</label>
					</div>
				</div>
			</div>
		</div>
	</section>        
</body>
</html>