<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Email List</title>
	<link rel="stylesheet" type="text/css" href="/../../assets/css/styles.css" />
</head>
<body style="padding: 0 2rem ; background: #eee;">
  <div class="email-list" style="max-width: 800px;">
    <div class="email-list-upper">
      <h3 class="email-title">Email</h3>
      <p class="email-subtitle">Emails from all contacts associated with this oppotunity</p>
    </div>
    <div class="email-list-bottom">
      <div class="emails">
        <div class="email-row">
          <div class="email-row-left">
            <div class="email-icon-img">
              <svg class="email-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z" />
              </svg>
            </div>
          </div>
          <div class="email-row-right">
            <div class="email-user-header">
              <p class="email-sender">Elizabeth Swan</p>
              <p class="email-time">25 MAR, 1:00 PM</p>
            </div>
            <h5 class="email-subject">Inquiry Regarding CRM Integration</h5>
            <p class="email-text">Yes, sure. Here are the details about our CRM implemantation timeline and process steps...</p>
          </div>
        </div>
        <div class="email-row">
          <div class="email-row-left">
            <div class="email-icon-img">
              <svg class="email-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M5.478 5.559A1.5 1.5 0 0 1 6.912 4.5H9A.75.75 0 0 0 9 3H6.912a3 3 0 0 0-2.868 2.118l-2.411 7.838a3 3 0 0 0-.133.882V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0 0 17.088 3H15a.75.75 0 0 0 0 1.5h2.088a1.5 1.5 0 0 1 1.434 1.059l2.213 7.191H17.89a3 3 0 0 0-2.684 1.658l-.256.513a1.5 1.5 0 0 1-1.342.829h-3.218a1.5 1.5 0 0 1-1.342-.83l-.256-.512a3 3 0 0 0-2.684-1.658H3.265l2.213-7.191Z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v6.44l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 0 1 1.06-1.06l1.72 1.72V3a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <div class="email-row-right">
            <div class="email-user-header">
              <p class="email-sender">John Miller</p>
              <p class="email-time">25 MAR, 1:00 PM</p>
            </div>
            <h5 class="email-subject">Inquiry Regarding CRM Integration</h5>
            <p class="email-text">Hi again, just following up on my previous message. More...</p>
          </div>
        </div>
        <div class="email-row">
          <div class="email-row-left">
            <div class="email-icon-img">
              <svg class="email-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M5.478 5.559A1.5 1.5 0 0 1 6.912 4.5H9A.75.75 0 0 0 9 3H6.912a3 3 0 0 0-2.868 2.118l-2.411 7.838a3 3 0 0 0-.133.882V18a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0 0 17.088 3H15a.75.75 0 0 0 0 1.5h2.088a1.5 1.5 0 0 1 1.434 1.059l2.213 7.191H17.89a3 3 0 0 0-2.684 1.658l-.256.513a1.5 1.5 0 0 1-1.342.829h-3.218a1.5 1.5 0 0 1-1.342-.83l-.256-.512a3 3 0 0 0-2.684-1.658H3.265l2.213-7.191Z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v6.44l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 0 1 1.06-1.06l1.72 1.72V3a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
              </svg>
            </div>
          </div>
          <div class="email-row-right">
            <div class="email-user-header">
              <p class="email-sender">John Miller</p>
              <p class="email-time">24 MAR, 1:00 PM</p>
            </div>
            <h5 class="email-subject">Inquiry Regarding CRM Integration</h5>
            <p class="email-text">Hi, I've reviewed your proposal and it looks promising. I'd love to clarify a few requirements on our side before moving forward...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>