<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Notification</title>
	<link rel="stylesheet" type="text/css" href="/../../assets/css/styles.css" />
</head>
<body style="padding: 2rem;">
    <div class="notification">
        <p class="notification-text">If the Login ID entered was valid, a link to reset your password has been sent to your registered Email ID.</p>
    </div>
    <div class="notification is-red">
        <p class="notification-text">If the Login ID entered was valid, a link to reset your password has been sent to your registered Email ID.</p>
    </div>
</body>
</html>