<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Radio Group</title>
	<link rel="stylesheet" type="text/css" href="/../../assets/css/styles.css" />
</head>
<body style="padding: 2rem;">
    <div class="reset-method">
		<p class="radio-text">Reset Password Via</p>
		<div class="radio-group">
			<label class="radio-option">
				<input class="radio-input" type="radio" name="reset-method" value="email" checked>
				<span>Email</span>
			</label>

			<label class="radio-option">
				<input class="radio-input" type="radio" name="reset-method" value="mobile">
				<span>Mobile OTP</span>
			</label>
		</div>
	</div>
	
</body>
</html>