<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Email List</title>
	<link rel="stylesheet" type="text/css" href="/../../assets/css/styles.css" />
</head>
<body style="padding: 0 2rem ; background: #eee;">
  <div class="wallet-card" style="max-width: 700px;">
    <div class="wallet-card-top">
        <div class="wallet-profile">
            <div class="wallet-profile-name">Cloud2Voice</div>
        </div>

        <div class="wallet-user-details">
          <h3 class="wallet-username">King Khan</h3>
          <div class="wallet-email-info">
              <svg class="wallet-email-icon" xmlns="http://www.w3.org/2000/svg" height-="16px" width="16px" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
              </svg>
            <p class="wallet-email">id-0036@gmail.com</p>
          </div>
        </div>
    </div>
    <div class="wallet-card-bottom">
      <div class="wallet-card-bottom-left">
        <div class="wallet-card-balance">AVAILABLE BALANCE</div>
        <div class="wallet-card-amount">$0.49</div>
      </div>

      <div class="wallet-card-bottom-right">
        <div class="wallet-card-deduction">
          <div class="stat-label">Deduction</div>
          <div class="stat-amount">$121.51</div>
        </div>

        <div class="wallet-card-refill">
          <div class="stat-label">Refill</div>
          <div class="stat-amount">$250</div>
        </div>
      </div>
    </div>
    <img src="/assets/img/wallet.png" class="wallet-card-image" alt="">
  </div>
</body>
</html>