@mixin button-reset {
	height: $button-size;
	padding-left: $button-hpadding;
	padding-right: $button-hpadding;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: 2px solid transparent;
	font-size: $button-font-size;
	font-weight: 600;
	color: $black-003;
	position: relative;
	z-index: 2;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes fade-scale {
	0% {
		transform: scale(.1);
		opacity: .1;
		transform-origin: center;
	}

	100% {
		transform: scale(1);
		opacity: 1;
		transform-origin: center;
	}
}

@keyframes rightDrawerOpen {
	0% {
		right: -100%;
	}

	100% {
		right: 0;
	}
}

@keyframes rightDrawerClose {
	0% {
		right: 0;
	}

	100% {
		right: -100%;
	}
}

@keyframes topDrawerOpen {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes topDrawerClose {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(-100%);
	}
}
/* Animation for sliding in from the left */
@keyframes slideInLeft {
    0% { transform: translateX(-100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

/* Animation for sliding in from the right */
@keyframes slideInRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes expand {
	0% {
		transform: scaleX(0) scaleY(0);
	}
	100% {
		transform: scaleX(1) scaleY(1);
	}
}
@keyframes collapse {
	0% {
		transform: scaleX(1) scaleY(1);
	}
	100% {
		transform: scaleX(0) scaleY(0);
	}
}

// Small 	up to 640px 	20" to 65" 	TVs 						320x569, 360x640, 480x854
// Medium 	641 - 1007px 	7" to 12" 	Tablets 					960x540
// Large 	1008ps and up 	13" and up 	PCs, Laptops, Surface Hub 	1024x640, 1366x768, 1920x1080

@mixin mobile-sm {
	@media (max-width: 320px) {
		@content;
	}
}
@mixin mobile-md {
	@media (max-width: 360px) {
		@content;
	}
}
@mixin mobile-lg {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin tab {
	@media (max-width: 960px) {
		@content;
	}
}
@mixin tab-md {
	@media (max-width: 800px) {
		@content;
	}
}
@mixin tab-sm {
	@media (max-width: 700px) {
		@content;
	}
}
@mixin desktop-sm-2 {
	@media (max-width: 1200px) {
		@content;
	}
}
@mixin desktop-md {
	@media (max-width: 1366px) {
		@content;
	}
}
@mixin desktop-sm {
	@media (max-width: 1024px) {
		@content;
	}
}
@mixin desktop-lg {
	@media (max-width: 1920px) {
		@content;
	}
}


@mixin mobile {
	@media (max-width: 550px) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: 1024px) {
		@content;
	}
}