.section {
  background-color: #e6e9fe;
  .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 16px;
    justify-content: flex-start;
  }
  .section-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 46px;
  }
  .section-media {
    position: relative;
    width: fit-content;
  }
  .section-image {
    width: 412px;
    overflow: hidden;
    .building-image {
      width: 100%;
      height: 408px;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }
  .section-buttons {
    display: flex;
    gap: 16px;
    width: 100%;
    .button-hero {
      width: 100%;
      max-width: 160px;
      height: 40px;
    }
  }
  .section-text {
    width: 100%;
  }
  .section-subtext {
    width: 100%;
  }
}
.construction-card-container {
  width: 230px;
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
}
.grid-lines {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: space-evenly;
  pointer-events: none;
  span {
    width: 1px;
    height: 100%;
    background: rgba(70, 100, 255, 0.08);
  }
}