.section {
  &.construction-section {
	  background-color: #e6e9fe;
	  min-height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  .section-mask {
	  	width: 100%;
	  }
  }
  .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tab {
      flex-direction: column;
      gap: 3rem;
    }
  }
  .section-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 16px;
    @include tab {
      width: 100%;
      align-items: center;
      text-align: center;
      gap: 0;
    }
  }
  .section-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 46px;
    @include tab {
      width: 100%;
      align-items: center;
      justify-content: center;
      padding-right: 40px;
    }
  }
  .section-media {
    position: relative;
    width: fit-content;
  }
  .section-image {
    height: 100%;
  	max-height: 600px;
    @include desktop-sm-2{
      max-height: 480px;
    }
    @include tab {
      max-height: 424px;
      max-width: 424px;
    }
    @include mobile-lg {
      max-height: 300px;
      max-width: 300px;
    }
    .building-image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      object-position: center;
    }
  }
  .section-buttons {
    display: flex;
    gap: 16px;
    margin-top: 1rem;
    .button-hero,
    .button {
      height: 2.5rem;
      &.is-outlined {
      	border-color: #ffbc65;;
      	&:hover {
      		background: linear-gradient(to right, #ffa735, #ffc06e);;
      	}
      }
    }
  }
  .section-texts {
    gap: 16px;
  }
  .section-subtext {
    width: 100%;
  }
	.construction-card {
    width: 100%;
	  max-width: 300px;
	  position: absolute;
	  top: 50%;
	  right: -40px;
	  transform: translateY(-50%);
    @include desktop-sm-2{
      max-width: 228px;
      max-height: 120px;
    }
    @include tab {
      max-width: 212px;
      max-height: 104px;
    }
    @include mobile-lg {
      max-width: 192px;
    }
	}
	.grid-lines {
	  position: fixed;
	  inset: 0;
	  display: flex;
	  justify-content: space-evenly;
	  pointer-events: none;
	  span {
	    width: 1px;
	    height: 100%;
	    background: rgba(70, 100, 255, 0.08);
	  }
	}
}