.faq-section {
	.accordians {
		background-color: transparent;
		max-width: 1024px;
		padding: 0;
	}
	.section-texts {
		margin-top: 4rem;
		@include tab-sm {
			margin-top: 2rem;
		}
	}
}

.tabs {
	display: flex;
	gap: 8px;
}