.bunny-store-cards {
	display: flex;
	overflow-x: auto;
	gap: 32px;
	@include tab {
		gap: 10px;
	}
	.brand-card {
		width: 325px;
		min-width: 300px;
		@include mobile-lg {
			min-width: 195px;
			.brand-card-img {
				max-height: 220px;
			}
		}
		@include tab-sm {
			.circular-button {
				min-width: 40px;
				height: 40px;
				&:after {
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}