$desktop-screen-height: calc(100vh - 110px);

.hero-section {
	min-height: $desktop-screen-height;
	font-family: Fredoka;
	@include tab-md {
		min-height: calc(100vh - 80px);
	}
	&-wrapper {
		align-items: inherit !important;
		@include tab {
			flex-direction: column;
			.hero-slider {
				display: none;
			}
			.hero-bottom-particle {
				bottom: 47vh;
				left: -20px;
			}
		}
	}
	&-texts {
		background: url('/assets/img/hero-background.png');
		width: 100%;
		max-width: 50% !important;
		min-height: $desktop-screen-height;
		flex-direction: column;
		object-fit: cover;
		align-items: start !important;
		padding: 50px 100px;
		justify-content: center;
		@include desktop-sm {
			padding: 50px;
		}
		@include tab {
			width: 100% !important;
			max-width: 100% !important;
			min-height: calc(40vh - 40px);
		}
		.hero-title {
			color: $white-color;
			font-family: Anton;
			@include desktop-md {
				font-size: 80px;
			}
			@include tab {
				font-size: 60px;
			}
			@include tab-sm {
				font-size: 50px;
			}
			&.has-particle {
				color: $white-color !important;
				&::before {
					top: -32px;
					left: -34px;
					background: url('/assets/img/title-particle-white.svg') no-repeat center / contain;
					@include tab {
						top: -20px;
						left: -20px;
					}
				}
			}
		}
		.hero-subtitle {
			font-weight: 700;
			font-size: 40px;
			line-height: 1.2;
			filter: drop-shadow(3px 3px 0 #7771A7);
			text-shadow: 1px 0 #7771A7, -1px 0 #7771A7, 0 1px #7771A7, 0 -1px #7771A7, 1px 1px #7771A7, -1px -1px #7771A7, 1px -1px #7771A7, -1px 1px #7771A7;
			color: $white-color;
			text-shadow: 4px 4px 0 #000000;
			margin-top: 20px;
			margin-bottom: 60px;
			@include desktop-md {
				font-size: 32px;
			}
			@include tab {
				font-size: 24px;
				margin-bottom: 32px;
			}
			@include tab-sm {
				font-size: 20px;
			}
		}
		.hero-cta {
			margin-bottom: 50px;
			@include tab {
				margin-bottom: 0;
			}
			&-text {
				font-weight: 500;
				line-height: 1.2;
				color: $white-color;
				max-width: 470px;
				margin-bottom: 20px;
				@include tab {
					font-size: 14px;
				}
				@include tab-sm {
					font-size: 12px;
				}
			}
		}
	}
	&-poster {
		width: 50%;
		height: 100%;
		@include tab {
			width: 100%;
		}
		&-img {
			height: $desktop-screen-height;
			width: 100%;
			object-fit: cover;
			@include tab {
				height: calc(52vh - 40px);
			}
		}
	}
}

.hero-bottom-particle {
	position: absolute;
	z-index: 9;
	bottom: -36px;
	left: 0;
	&.is-right {
		left: auto;
		right: 0;
	}
	.particle-img {
		width: 100%;
		height: 200px;
		@include desktop-sm {
			height: 180px;
		}
		@include tab {
			height: 100px;
		}
	}
}

.hero-slider {
	position: absolute;
	z-index: 9;
	bottom: 0;
	background-color: $gray-002;
	width: 100%;
	padding: 2rem;
	@include mobile {
		padding: 1rem;
	}
}

.hero-section {
	&.hero-2 {
		height: 100%;
		min-height: 450px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-position: center bottom;
		background-size: cover;
		@include tab {
			min-height: 350px;
		}
		@include mobile {
			min-height: 220px;
		}
		.hero-background {
			.hero-bg-img {
				width: 100%;
				height: 100%;
			}
		}
		.section-mask {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: absolute;
			z-index: 9;
			padding-bottom: 100px;
			@include mobile {
				padding-bottom: 56px;
			}
			&-img {
				width: 100%;
				background-size: cover;
				background-position: center;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
			}
		}
		.hero-bottom-particle {
			bottom: 0;
			.particle-img {
				height: 300px;
				@include tab {
					height: 200px;
				}
				@include mobile {
					height: 100px;
				}
			}
		}
	}
}

.build-hamper-hero {
	.section-title {
		@include desktop-md {
			font-size: 80px;
		}
		@include desktop-sm {
			font-size: 64px;
		}
		@include tab-md {
			font-size: 50px;
		}
		@include tab-sm {
			font-size: 40px;
		}
		@include mobile {
			font-size: 32px;
		}
	}
	.has-particle:before {

	}
}

.hero-section.hero-2 {
	.has-particle {
		.section-title {
			text-align: center;
		}
	}
}