.image-gallery {
  display: flex;
  flex-direction: column;
  gap: 60px;
  @include tab {
    gap: 30px;
  }

  &-cards {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    @include desktop-sm {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    @include tab-sm {
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;
    }
    .gallery-card {
		  max-height: 350px;
      @include tab-sm {
        min-height: 232px;
      }
    }
    &.horizontal-scroll {
      display: flex !important;
      overflow-x: scroll;
      margin-top: 60px;
      .gallery-card {
        min-width: 320px;
      }
    }
  }

}
