.joyful-cards {
	.has-primary-badge {
		@include tab {
			height: 54px;
			width: 54px;
		}
		@include mobile {
			height: 40px;
			width: 40px;
		}
		.svg-icon {
			@include tab {
				height: 24px;
				width: 24px;
			}
			@include mobile {
				height: 20px;
				width: 20px;
			}
		}
	}
}