.pre-selected-products-cards {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	justify-items: center;
	gap: 32px;

	@include desktop-sm {
		grid-template-columns: repeat(3, 1fr);
		gap: 24px;
	}
	@include tab-sm {
		grid-template-columns: repeat(2, 1fr);
		gap: 12px;
	}
	.gift-card {
		.gift-card-img{
			height: 100%;
		}
	}
	@include tab {
		gap: 24px;
	}
	@include mobile {
		gap: 12px;
	}
}

.pre-selected-scroll-section {
	.pre-selected-products-cards {
		padding-bottom: 80px;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		gap: 24px;

		.gift-card {
			min-width: 300px;
		}
	}
}