.product-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	@include desktop {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.25rem;
	}
	@include tab-md {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
	@include mobile {
		gap: .75rem;
	}
}

.product-card {
	width: 100%;
	background-color: $primary-color;

	&:nth-child(4n + 1) {
		background-color: $primary-color;
	}

	&:nth-child(4n + 2) {
		background-color: $aqua-color;
	}

	&:nth-child(4n + 3) {
		background-color: $peach-color;
	}

	&:nth-child(4n + 4) {
		background-color: $blue-color;
	}
}

.section-title {
	text-align: left;
}