.pure-cards {
	// display: flex;
	// gap: 2rem;
	// overflow-x: scroll;
	// overflow-y: visible;
	display: flex;
	gap: 2rem;
	overflow-x: auto;
	overflow-y: visible;
	// padding-top: 100px;
	.pure-card {
		min-width: 500px;
		&-img {
			.image {
				max-height: 500px;
			}
		}
	}

	@include tab {
		.pure-card {
			min-width: 350px;

			&-img {
				.image {
					max-height: 350px;
				}
			}
		}
	}

	@include mobile {
		gap: 1rem;

		.pure-card {
			min-width: 320px;

			&-img {
				.image {
					max-height: 320px;
				}
			}
		}
	}
}

.section {
	&.is-fullwidth {
		padding-left: 0;
		padding-right: 0;

	}
}